.heading {
    text-align: center;
    padding: 50px 0;
    
}


.image-text-section {
    padding: 50px 20px;
    background-color: rgb(255, 255, 255);
}

.section-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.left, .right {
    max-width: 100%;
    margin-right: 20px;
}

.left img {
    width: 100%;
    max-width: none; /* Adjust as needed */
    margin-bottom: 20px;
}

.heading h2 {
    font-size: 20px;
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: #E9525D;
    color: #fff;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    display: inline-block;
    text-align: center;
    width: auto;
    margin: 0; 
}

.right p {
    font-size: 16px;
    margin-bottom: 20px;
    max-width: 400px;
    font-weight: 400;
    text-align: justify;
}

.btn {
    color: black;
    padding: 10px 20px;
    border: #E9525D 1px solid;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    margin-top: 50px;
}

.btn:hover {
    background-color: #E9525D;
}

@media only screen and (min-width: 768px) {
    .section-content {
        flex-direction: row; /* Revert to horizontal layout on larger screens */
    }

    .left, .right {
        max-width: 50%; /* Each section takes half of the width on tablets */
    }
}

@media only screen and (min-width: 992px) {
    .left, .right {
        max-width: 40%; /* Each section takes 40% of the width on desktops */
    }
}
