.image-text-section2 {
    padding: 50px 50px;
    background-color: rgb(255, 255, 255);
    
}

.section-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.second-right {
    flex: 1;
    margin-left: 100px;
}

.second-left {
    flex: 1;
}

.second-right img {
    width: 100%;
    max-width: 400px; 
    display: block;
    margin: 0 auto;
}

.second-left {
    margin: 0 100px;
}

.second-left p {
    font-size: 16px;
    margin-bottom: 20px;
    max-width: 400px;
}

.btn {
    background-color: rgba(255, 255, 255, 0);
    color: black;
    padding: 10px 20px;
    border: #E9525D 1px solid;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.btn:hover {
    background-color: #E9525D;
}
