.faq-section {
    padding: 20px 20px;
    text-align: left;
}

.faq-section h2 {
    text-align: left;
    font-size: 30px;
    padding: 0 0px;
    margin-bottom: 0px ;
}

.faq-section p {
    font-size: 16px;
}

.faq-header {
    background-color: #f7f5f5;
}

.faq-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;
}

.faq-item {
    margin-bottom: 10px;
    max-width: 1240px;
}

.question {
    background-color: #ffffff;
    color: #0f0f0f;
    padding: 10px 20px;
    border: 1px solid #989898;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    width: 100%;
    max-width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.answer {
    background-color: #f9f9f9;
    padding: 10px 20px;
    border: 1px solid #ddd;
    border-top: none;
    border-radius: 0 0 5px 5px;
    width: 100%;
    max-width: 400px;
}

@media only screen and (min-width: 768px) {
    .faq-section {
        padding: 40px 100px; /* Reset padding for larger screens */
    }

    .faq-section h2 {
        font-size: 40px; /* Reset font size for larger screens */
    }

    .faq-section p {
        font-size: 20px; /* Reset font size for larger screens */
    }

    .question {
        width: 600px; /* Increase width for larger screens */
    }

    .answer {
        max-width: 600px; /* Increase maximum width for larger screens */
    }
}
