.footer {
    height: 150px;
    background-color: #CCC4E0;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    flex-wrap: wrap;
    margin-top: 200px;
}

.footer-menu {
    list-style: None;
    padding: 0;
}

.footer-menu li {
    margin-right: 40px;
    display: inline-block;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.footer-buttons > * {
    margin-left: 30px;

}

.donate-button {
    background-color: #E9525D;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .footer {
        flex-direction: column; /* Stack items vertically on smaller screens */
        height: auto; /* Auto height to accommodate content */
        padding: 20px; /* Adjust padding for smaller screens */
        text-align: center; /* Center-align content on smaller screens */
    }

    .footer-menu li {
        margin-right: 0; /* Remove margin for smaller screens */
        margin-bottom: 10px;
        display: block; /* Add bottom margin for smaller screens */
    }

    .footer-buttons {
        margin-top: 20px; /* Add top margin for smaller screens */
    }

    .footer-buttons > * {
        margin-left: 10px; /* Remove left margin for smaller screens */
    }
}