.card-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px; 
}

.card {
    width: 100%;
    max-width: 500px;
    margin: 20px 20px; 
    padding: 20px;
    border: none;
    background-color: #f4f4f4;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition: transform 0.3s ease; /* Add smooth transition effect */
}

.card:hover {
    transform: translateY(-5px); /* Add slight lift effect on hover */
}

.card h2 {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: 600;
}

.card img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.card p {
    font-size: 16px;
    color: #474747;
    font-weight: 400;
    width: 100%;
}

@media only screen and (min-width: 768px) {
    .row {
        flex-direction: row; /* Change back to row layout for tablets and larger screens */
    }

    .card {
        max-width: none;
        /* width: 500px;
        height: 800px; 
        margin: 0 50px; */
    }

    .card p {
        font-size: 20px;
    }

    /* .row {
        justify-content: center;
    } */
}
