.hero-section {
    /* background-image: url('path_to_your_background_image.jpg'); */
    background-color: #ffffff;
    color: #0f0f0f;
    padding: 50px 20px 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-right img {
    width: 100%;
    max-width: 500px;
    height: auto;
}

.hero-content-left {
    max-width: 500px;
}

.hero-content-left h1 {
    font-size: 2rem;
}

.hero-content-left p {
    font-size: 1rem;
    margin-bottom: 20px;
}

.cta-button {
    background-color: #E9525D;
    color: #fff;
    border: none;
    border-radius: 12px;
    padding: 10px 20px;
    font-size: 1rem;
    width: 100%;
    max-width: 357px;
    height: 52px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 30px;
    margin-bottom: 30px;
}

.cta-button:hover {
    background-color: #c2343e;
}

@media only screen and (min-width: 768px) {
    .hero-section {
        flex-direction: row; /* Change back to row layout for tablets and larger screens */
        padding: 50px 100px 100px;
        justify-content: space-between;/* Restore padding for larger screens */
    }

    .cta-button {
        width: 357px;
        margin-top: 50px;/* Reset button width for larger screens */
    }

    .hero-content-left h1 {
        font-size: 2.5rem;
    }
    
    .hero-content-left p {
        font-size: 1.2rem;
        margin-bottom: 20px;
    }
}