.card-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    display: flex;
    justify-content: center;
    margin-bottom: 50px; 
}

.card {
    width: 500px;
    height: 800px; 
    margin: 0 50px; 
    padding: 20px;
    border: none;
    background-color: #f4f4f4;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition: transform 0.3s ease; /* Add smooth transition effect */
}

.card:hover {
    transform: translateY(-5px); /* Add slight lift effect on hover */
}

.card h2 {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: 600;
}

.card img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.card p {
    font-size: 20px;
    color: #474747;
    font-weight: 400;
    width: 100%;
}
