.sub-hero {
    background-color: #ffffff;
    padding: 80px 0;
    text-align: center;
}

.circle-container {
    display: flex;
    justify-content: space-around;
}

.circle-dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
}

#pink-circle {
    background-color: #FC6CB1;
    ;
}

#purple-circle {
    background-color: #CCC4E0;
    ;
}

.circle:hover {
    background-color: #e0e0e0;
}

.circle img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.dropdown {
    position: relative;
}

.dropbtn {
    background-color: transparent;
    color: black;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-weight: 700;
}

#dropbtn-module::after {
    content: ' ▼';
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #ddd;
}
